@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@600&family=Josefin+Sans:ital,wght@1,300;1,400&family=Lato:ital@0;1&family=Mooli&family=Nunito+Sans:ital,opsz,wght@1,6..12,200&family=Open+Sans:ital,wght@1,300&family=Poppins:wght@200&family=Raleway:wght@200&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    max-width: 1600px;
    width: 100%
}

.ovre-navigasjon{
    text-align: center;
    padding-top: 15px;
}


.ovre-navigasjon ul{
    list-style: none;
    text-decoration: none;
    padding-left: 0px;
}

.ovre-navigasjon ul li{
    padding: 0.5rem;
}

.ovre-navigasjon ul li a{
    text-decoration: none;
    color: #000;
}

.ovre-navigasjon button{
    margin: auto auto 30px auto;
}

.li-button{
    margin-top: 20px;
}

.button:hover{
    background-color: #252525;
    color: #e6bd43;
}

/*Se kilde 6*/
.button{
    background-color: #e6bd43;
    padding: 0.7rem;
    border: none;
    font-weight: bold;
}

.on-page{
    font-weight: bold;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: #e6bd43;
}

#compeling-headline{
    background-image: url("media/a-mac-and-iphone-on-the-white-desk.webp");
    background-size: cover;
}

#background-video{
    display: none;
}

#compeling-headline-content{
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

#compeling-headline-content h1{
    padding-right: 50px;
    padding-left: 50px;
}

#compeling-headline-content p{
    padding-left: 30px;
    padding-right: 30px;

}

.button-services{
    margin-top: 50px;
    display: inline-block;
}


#compeling-headline-content p a{
    text-decoration: none;
    color: #000;
}

#subheading{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

#subheading p{
    margin: auto 20px 20px 20px;
}

#about-company{
    background-color:#e6bd43;
    text-align: left;
}

#about-company img{
    padding: 40px;
    padding-right: 60px;
    max-width: 400px;
    min-width: 400px;
}

#about-company-content{
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
}

#button-border{
    background-color: #e6bd43;
    padding: 0.7rem 0;
    border: none;
    font-weight: bold;
    border: 3px solid;
    display: inline-block;
}

#button-border a{
    color: #000;
    text-decoration: none;
    padding: 15px;
}

#our-services{
    text-align: center;
    padding: 2rem;
}

.fa-solid.fa-users, .fa-solid.fa-cloud-arrow-up, .fa-solid.fa-code, .fa-solid.fa-wifi{
    font-size: 2rem;
}

#our-services article{
    padding: 1rem;
}

#newsletter{
    background-color: #f3f2f2;
    padding: 2rem;
}

#newsletter h2{
    font-size: 20px;
    text-align: center;
}

#newsletter form{
    display: flex;
}

#newsletter form input{
    border: none;
}

.footer{
    text-align: center;
    background-color: #252525;
    color: #fff;
    padding: 3rem;
}

.footer a{
    text-decoration: none;
}

.fa-brands.fa-square-facebook, .fa-brands.fa-square-instagram, .fa-brands.fa-linkedin{
    color: #fff;
    font-size: 1.5rem;
    padding: 10px;
    text-decoration: none;
}

/*hele denne delen er cowboycoda*/
.fa-solid.fa-arrow-up{
    position: fixed;
    bottom: 20px;
    right: 40px;
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
    background-color:#252525;
    padding: 0.5rem;
}

/*CSS regler på products.html siden*/

#headline-products{
    background-image: url("media/a-mac-and-iphone-on-the-white-desk.webp");
    background-size: cover;
}

#headline-content{
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

#headline-content h1{
    margin: 150px 20px; 
}

#previous-jobs, #branding, #Design, #development{
    padding-left: 40px;
    padding-right: 40px;
}

.branding-button{
    color: #000;
    border: 1px solid;
    display: inherit;
    padding: 5px;
}

/*Se kilde 8*/
.article{
    max-width: 350px;
    min-width: 200px;
    transition: all .3s ease-in-out;
}

.article:hover{
    transform:scale(1.1)
}


/*Se kilde 7*/
#previous-jobs h2, #branding h2, #Design h2, #development h2{
    border-bottom: 3px solid #e6bd43;
    padding-bottom: 2rem;
}

#branding article img, #Design article img, #development article img{
    width: 100%;
    max-width: 400px;
}

#branding article h3, #Design article h3, #development article h3{
    font-weight: bold;
    padding-bottom: 40px;
}

#previous-jobs a{
    text-decoration: none;
}

#previous-jobs button{
    border: 1px solid;
    background-color: #fff;
    margin-bottom: 10px;
    padding: 5px;
}

/*css regler about.html*/

#company-name{
    background-image: url("media/a-mac-and-iphone-on-the-white-desk.webp");
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 20px;
}

#company-name-content{
    text-align: left;
    margin: 3rem;
    padding: 3rem;
    background-color: rgba(255, 255, 255, 0.5);
}

#button-contact{
    display: inline-block;
    padding-left: 2px;
    padding-right: 2px;
}

#button-contact a{
    text-decoration: none;
    color: #000;
    padding: 15px 5px 15px 5px;
}

#clients{
    background-color: #e6bd43;
    text-align: center;
    padding-top: 20px;
}

#clients img{
    padding: 1.2rem;
}

#contact-us h2{
    text-align: center;
    padding-bottom: 2rem;
}

#contact-us{
    background-color: #f3f2f2;
    background-position: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
}


#message, #contact-information{
    background-color:#f3f2f2;
    padding-left: 1rem;
    padding-right: 1rem;
}

#message form{
    display: flex;
    flex-direction: column;
}

.input-text{
    border: none;
    padding: 1rem;
}

#input-message{
    padding: 3rem;
    border: none;
}

#message form button{
    width: 40%;
}

#contact-information{
    padding-top: 50px;
}

#contact-information h3{
    font-weight: bold;
}

#adresse, #telefon, #mail{
    display: flex;
}

#adresse i, #telefon i, #mail i{
    align-self: center;
    margin-right: 30px;
}


@media only screen and (min-width: 600px){

    #grid-container-index, #grid-container-products, #grid-container-about{
        display: grid;
        grid-template-areas: "header header header"
                             "main main main"   
                             "footer footer footer";
        grid-template-columns: 1fr 1fr 1fr;
    }

    /*index.html siden*/

    header{
        grid-area: header;
    }

    .ovre-navigasjon{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto 20px;
    }

    .ovre-navigasjon ul{
        display: flex;
    }

    .li-button{
        margin: 0;
    }

    #compeling-headline-content p, #subheading{
        max-width: 50%;
        margin: auto;
        margin-top: 20px;
    }

    main{
        grid-area: main;
    }

    
    .button-services{
        margin-top: 2rem;
        padding-left: 0px;
        padding-right: 0px;
    }

    #our-services{
        position: relative;
    }

    #our-services h2{
        position: absolute;
        width: 100%;
        top: 0;
        font-size: 30px;
        padding-top: 20px;
    }

    #our-services article{
        padding: 6rem;
    }


    #about-company{
        display: flex;
        align-items: center;
    }

    #about-company-content{
        padding-left: 0px;
    }

    #button-border{
        display: inline-block;
    }

    #button-border:hover, #button-contact:hover{
        background-color: #252525;
    }
    
    #button-border a:hover, #button-contact a:hover, #compeling-headline-content p a:hover{
        color:#e6bd43;
    }

    #our-services{
        display: flex;
    }

    #newsletter{
        display: grid;
        grid-template-areas: "luft luft luft" "news news news" "luft luft luft";
        grid-template-columns: 1fr 1fr 1fr;

    }

    #newsletter h2{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
        font-size: 40px;
    }

    #newsletter form{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        justify-content: center;
    }

    .footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        grid-area: footer;
    }

    /*products.html*/

    #branding, #Design, #development{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #branding h2, #Design h2, #development h2{
        flex-basis: 100%;
    }

    .article{
        max-width: 692px;
        
    }
    

    /*about.html*/

    #company-name{
        display: flex;
        justify-content: flex-end;
    }
    
    #company-name-content{
        width: 50%;
    }

    #clients{
        font-size: 20px;
    }

    #contact-us{
        display: grid;
        grid-template-areas: "contact-us contact-us" 
                            "message informastion";
        grid-template-columns: 1fr 1fr;
    }

    #contact-us h2{
        grid-area: contact-us;
        grid-column-start: 1;
        grid-column-end: 3;
        font-size: 30px;
        padding-top: 30px;
    }

    #message{
        grid-area: message;
        padding-left: 100px;
        padding-right: 50px;
    }

    #contact-information{
        grid-area: informastion;
        padding-top: 0;
        padding-right: 100px;
    }

    #google-maps iframe{
        width: 100%;
    }
    
}

