*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.ovre-navigasjon{
    text-align: center;
    padding-top: 15px;
}


.ovre-navigasjon ul{
    list-style: none;
    text-decoration: none;
    padding-left: 0px;
}

.ovre-navigasjon ul li{
    padding: 0.5rem;
}

.ovre-navigasjon ul li a{
    text-decoration: none;
    color: #000;
}

.ovre-navigasjon button{
    margin: auto auto 30px auto;
}

.li-button{
    margin-top: 20px;
}

/*Se kilde 6*/
.button{
    background-color: #e6bd43;
    padding: 0.7rem;
    border: none;
    font-weight: bold;
}

.on-page{
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #e6bd43;
}

#compeling-headline{
    background-image: url("media/a-mac-and-iphone-on-the-white-desk.webp");
    background-size: cover;
}

#compeling-headline-content{
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

#compeling-headline-content p{
    padding-left: 30px;
    padding-right: 30px;
}

.button-services{
    margin-top: 50px;
}

#compeling-headline-content p a{
    text-decoration: none;
    color: #000;
}

#subheading{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

#subheading p{
    margin: auto 20px 20px 20px;
}

#about-company{
    background-color:#e6bd43;
    text-align: left;
}

#about-company img{
    padding: 40px;
    padding-right: 60px;
    max-width: 400px;
    min-width: 400px;
    
}

#about-company-content{
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
}

#button-border{
    background-color: #e6bd43;
    padding: 0.7rem;
    border: none;
    font-weight: bold;
    border: 3px solid;
}

#button-border a{
    color: #000;
    text-decoration: none;
}

#our-services{
    text-align: center;
    padding: 2rem;
}

.fa-solid.fa-users, .fa-solid.fa-cloud-arrow-up, .fa-solid.fa-code, .fa-solid.fa-wifi{
    font-size: 2rem;
}

#our-services article{
    padding: 1rem;
}

#newsletter{
    background-color: #f3f2f2;
    padding: 2rem;
}

#newsletter h2{
    font-size: 20px;
    text-align: center;
}

#newsletter form{
    display: flex;
}

#newsletter form input{
    border: none;
}

.footer{
    text-align: center;
    background-color: #252525;
    color: #fff;
    padding: 3rem;
}

.footer a{
    text-decoration: none;
}

.fa-brands.fa-square-facebook, .fa-brands.fa-square-instagram, .fa-brands.fa-linkedin{
    color: #fff;
    font-size: 1.5rem;
    padding: 10px;
    text-decoration: none;
}

/*CSS regler på products.html siden*/

#headline-products{
    background-image: url("media/a-mac-and-iphone-on-the-white-desk.webp");
    background-size: cover;
}

#headline-content{
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

#headline-content h1{
    margin: 150px 20px; 
}

#previous-jobs, #branding, #Design, #development{
    padding-left: 40px;
    padding-right: 40px;
}

.branding-button{
    color: #000;
    border: 1px solid;
    display: inherit;
    padding: 5px;
}

.article{
    max-width: 350px;
    min-width: 200px;
}

/*Se kilde 7*/
#previous-jobs h2, #branding h2, #Design h2, #development h2{
    border-bottom: 3px solid #e6bd43;
    padding-bottom: 2rem;
}

#branding article img, #Design article img, #development article img{
    width: 100%;
    max-width: 400px;
}

#branding article h3, #Design article h3, #development article h3{
    font-weight: bold;
    padding-bottom: 40px;
}

#previous-jobs a{
    text-decoration: none;
}

#previous-jobs button{
    border: 1px solid;
    background-color: #fff;
    margin-bottom: 10px;
    padding: 5px;
}

/*css regler about.html*/

#company-name{
    background-image: url("media/a-mac-and-iphone-on-the-white-desk.webp");
    background-size: cover;
}

#company-name-content{
    text-align: left;
    margin: 3rem;
    padding: 3rem;
    background-color: rgba(255, 255, 255, 0.5);
}

#button-contact a{
    text-decoration: none;
    color: #000;
}

#clients{
    background-color: #e6bd43;
    text-align: center;
    padding-top: 20px;
}

#clients img{
    padding: 1.2rem;
}

#contact-us h2{
    text-align: center;
    padding-bottom: 2rem;
}

#contact-us{
    background-color: #f3f2f2;
    background-position: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
}


#message, #contact-information{
    background-color:#f3f2f2;
    padding-left: 1rem;
    padding-right: 1rem;
}

#message form{
    display: flex;
    flex-direction: column;
}

.input-text{
    border: none;
    padding: 1rem;
}

#input-message{
    padding: 3rem;
    border: none;
}

#message form button{
    width: 40%;
}

#contact-information{
    padding-top: 50px;
}

#contact-information h3{
    font-weight: bold;
}

#adresse, #telefon, #mail{
    display: flex;
}

#adresse i, #telefon i, #mail i{
    align-self: center;
    margin-right: 30px;
}




